// .container{
//     display: flex;
//     flex-direction: column;
//     align-items: center;

// }

.users-content {
    height: 100%;
    display: flex;
    justify-content: center;
    .button {
      width: 80px;
      border: 2px solid #fff;
      background-color:#878383;
      color: #fff;
      &:hover {
        background-color:#565454;
        color: #fff; 
      }
    }
  }
  .users-box {
    margin-top: 50px;
    align-self: flex-start;
    padding: 20px;
   
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  
    h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
    }
  
   
  
   
  }
  