<div class="users-content" >
  <div class="users-box">
    <h2>List of Users</h2>
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
      <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="onSearchChange()"   placeholder="Search by name" />
    </div>
  <!-- <pre>{{ users | json }}</pre> -->
  <table class="table table-striped table-hover d-flex d-md-table">
    <tr class="d-none d-md-table-row text-white">
      <th scope="col">N°</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
    <tbody class="flex-fill">
      <!-- track by $index if id does non exists  -->
       <!-- track by user.id if exists -->
  
      
      <tr class="mb-2 mb-md-0 d-flex d-md-table-row flex-column" *ngFor="let user of filteredUsers | async; let index = index;">
        <th>{{ index}}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.email }}</td>
        <td >
          <a class="btn button" [routerLink]="['/register/add-edit', user.id]" *ngIf="canViewEditButton">Edit</a>
          <button class="btn button" (click)="deleteUser(user.id)" *ngIf="user.id && canDeleteUser(user.id)">
            Delete
          </button>
          <a class="btn button" [routerLink]="[user.id]">Details</a>
        </td>
      </tr>
  
      
    </tbody>
  </table>
  </div>
</div>


