.footer-content {
    align-self: flex-end;
    height: 80px;
    background-color: rgb(64, 63, 63);
    color: white;
    display: flex;
    justify-content: center;

    .footer-box {
        align-self: center;

        span {
            font-size: 18px;
        }

    }

}