<div class="header-content" *ngIf="user">
  <div class="container py-4">
    <ul class="nav justify-content-between">
      <div class="d-flex ml-auto flex-wrap">
        <!-- Bottone Register User -->
        <li class="nav-item" *ngIf = "canViewRegisterButton" >
          <a class="nav-link btn btn-primary mr-2" [routerLink]="['register/add-edit']">Register User</a>
        </li>
        <!-- Bottone Users List -->
        <li class="nav-item">
          <a class="nav-link btn btn-outline-primary mr-2" [routerLink]="['/users']">Users list</a>
        </li>
        
        <!-- Bottone Dashboard -->
        <li class="nav-item">
          <a class="nav-link btn btn-outline-primary mr-2" [routerLink]="['/dashboard', userId]">Dashboard</a>
        </li>
        <!-- Bottone Logout -->
        <li class="nav-item">
          <button class="nav-link btn btn-outline-danger" (click)="logout()">Logout</button>
        </li>
      </div>
    </ul>
  </div>
</div>
