.details-user-content {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .details-user-box{
    background-color: var(--background-side-color);
    width: 100%;
    margin-top: 50px;
    align-self: flex-start;
    padding: 20px;
   
   
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
  
    h2 {
      margin: 0 0 30px;
      padding: 0;
      text-align: center;
    }
    
}
.btn{
  box-shadow: var(--box-shadow);
  
}