


.main{
    display: flex;
    flex-direction: column;
    height: 100vh;

    

    .container-components {
        flex: 1;
        display: flex;
        overflow: hidden;
        .app-component {
            width: 100%;
         
            padding: 1rem;
            overflow-y: auto;
            height: 100%;
          }

    }

}