
.login-content {
  height: 100vh; // Assicura che occupi l'intera altezza della viewport
  display: flex;
  justify-content: center; // Centro orizzontale
  align-items: flex-start; // Inizia dall'alto
  position: relative;

  animation: mymove 2s forwards;
  
    button {
      margin-bottom: 10px;
      border: 2px solid var(--text-color);
      //background-color:#878383;
      align-self: flex-end;
      //color: #fff;
      &:hover {
        background-color: var(--background-side-color);
        color: #000; // Change text color for better contrast if needed
      }
    }


  }
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
   // width: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:var(--background-side-color);
  
    box-shadow:var(--box-shadow);
    border-radius: 10px;
  
    h2 {
      margin: 0 0 30px;
      padding: 0;
  
      text-align: center;
    }
  
    .user-box {
      position: relative;
  
      input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
     
        margin-bottom: 30px;
       // border: none;
        //border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
  
        &:focus ~ label,
        &:valid ~ label {
          top: -30px;
          left: 0;
          //color: #fff;
          font-size: 12px;
        }
      }
  
      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        //color: #fff;
        pointer-events: none;
        transition: 0.5s;
      }
    }
  
    form a {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
  
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: 0.5s;
      margin-top: 40px;
      letter-spacing: 4px;
    }




    @keyframes mymove {
      0% {
          transform: translateY(-50%); 
      }
      100% {
          transform: translateY(-10%); 
      }
    }
}
  