<div class="container mt-5">
    <h1 class="text-center">List of Operators</h1>
    <div class="row">
       <!-- <pre>{{ operators | json }}</pre> -->
<table class="table table-striped table-hover d-flex d-md-table my-5">
    <tr class="d-none d-md-table-row">
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
    </tr>
    <tbody class="flex-fill">
      <!-- track by $index if id does non exists  -->
  
      @for(operator of operators; track operator.id){
      <tr class="mb-2 mb-md-0 d-flex d-md-table-row flex-column">
        <th>{{ operator.id }}</th>
        <td>{{ operator.name }}</td>
        <td>{{ operator.surname }}</td>
        <td>{{ operator.email }}</td>
      </tr>
      }
    </tbody>
  </table>
    </div>
</div>




