<!-- <div class="home-component">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <a class="nav-link btn border p-4"  [routerLink]="['login']">Login</a>
    </div>
  </div>



</div> -->

<div class="container">

    <div class="vh-100 d-flex align-items-center justify-content-center">
      <div class="card border-0 p-4 myVar-background-side-color myVar-box-shadow">
        <div class="card-body p-0">
          <div class="d-flex flex-column  align-items-center myVar-box-shadow rounded-3">
            <div class="col-12 col-md-8">
              <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg"
                class="img-fluid" id="img">
            </div>
            <div class="col-12 col-md-8">
              <div class="py-4">
                <a class=" w-100 btn btn-outline-primary py-3"  [routerLink]="['login']">Login</a>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
 
</div>