<div class="side-component border-end myVar-background-side-color h-100 col-12 col-md-12" *ngIf="user">
    <div class="container d-flex flex-column justify-content-between h-100">
        <div class="w-100 mt-5">
            <ul class="nav w-100  d-flex flex-column m-auto nav-pills"  [attr.data-bs-theme]="isDarkTheme ? 'dark': 'light' ">
                   <!-- Bottone Dashboard -->
                <li class="nav-item w-100">
                    <a class="nav-link mr-2 my-2 text-reset" 
                    routerLinkActive="active"
                    
                    [routerLink]="['/dashboard']"><i class="fa-solid fa-house me-3"></i>Home</a>
                </li>
                <!-- Bottone Register User -->
                <li class="nav-item w-100" *ngIf="canViewRegisterButton">
                    <a class="nav-link ml-2 my-2 text-reset"
                    routerLinkActive="active"
                    
                    [routerLink]="['register/add-edit']"><i class="fa-solid fa-user-plus me-3" ></i>Register User</a>
                </li>
                <!-- Bottone Users List -->
                <li class="nav-item w-100 ">
                    <a class="nav-link  mr-2 my-2 text-reset"
                    routerLinkActive="active"
                   
                    [routerLink]="['/users']"><i class="fa-solid fa-users me-3"></i>Users list</a>
                </li>

                 <!-- button chart -->
                 <li class="nav-item w-100">
                    <a class="nav-link mr-2 my-2 text-reset"
                    routerLinkActive="active" 
              
                    [routerLink]="['/charts']" ><i class="fa-solid fa-chart-line me-3" ></i>Charts</a>
                </li>
                <!-- Bottone Overview -->
                <li class="nav-item w-100">
                    <a href="http://google.com"
                    routerLinkActive="active"
                   
                    class="nav-link mr-2 my-2 text-reset"><i class="fa-solid fa-globe me-3"></i>Overview</a>
                </li>
                <!-- -------dropdown button---------- -->
                <li class="nav-item w-100 dropdown">
                    <a class="nav-link dropdown-toggle mr-2 my-2 text-reset" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-layer-group me-3"></i>
                        layouts
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
              
                <!-- button setting -->
                <li class="nav-item">
                    <a class="nav-link mr-2 my-2 text-reset"
                    routerLinkActive="active" href="#"><i class="fa-solid fa-gear me-3"></i>Setting</a>
                </li>
                <!-- Bottone Logout -->
                <!-- <li class="nav-item">
                    <button class="nav-link btn btn-outline-danger" (click)="logout()">Logout</button>
                </li> -->
            </ul>
            

        </div>
        <ul class="nav w-100 mt-auto">
            <li class="nav-item w-100">
                <button class="btn btn-outline-ligth" (click)="toggleTheme()">  <i [ngClass]="isDarkTheme ? 'fa-solid fa-sun' : 'fa-solid fa-moon'"></i></button>
            </li>
            <li class="nav-item w-100">
                <button class="nav-link btn text-reset" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket me-3" style="color: var(--text-color);"></i>Log Out</button>
            </li>
        </ul>
    </div>
</div>