

<div class="dashboard-content">
  <div class="dashboard-box">
    

    @if(user){
      <div class="card mb-3">
        <div class="row g-0">
          
            <div class="col-md-4">
              <img src="user.png" class="img-fluid rounded-start" alt="..." width="150px">
            </div>
          
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" >{{ user.name | uppercase }} {{user.surname | uppercase}}</h5>
              <p class="card-text">{{user.role}}</p>
              <p class="card-text"><small class="text-body-secondary">Email: {{ user.email }}</small></p>
            </div>
          </div>
        </div>
      </div>
    }@else{
      <p>Operatore non trovato.</p>
    }
  </div>

</div>

