.dashboard-component {
  margin-top: 10px;
  padding: 10px;
  height: 100%;
  //overflow-y: auto;
  .dashboard-box {
    margin: 20px 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
   
    //justify-content: center;
    //align-items: center;
    //text-align: center;
  }
}
