<div class="container-fluid">
  <div class="container">
    
    <div class="dashboard-component col-12">
      <h1 class="text-md-start text-center"><em>Dashboard</em></h1>
      <div class="dashboard-box col-12 my-4">
        @if(user){
        <div class="card text-center  col-12 col-md-12">
          <div class="row">
  
            <div class="col-12 col-md-4 p-1">
              <img src="user.png" class="img-fluid rounded-start" alt="..." width="100px">
            </div>
            <div class="col-12 col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ user.name | uppercase }} {{user.surname | uppercase}}</h5>
                <p class="card-text">{{user.role}}</p>
                <p class="card-text"><small class="text-body-secondary">Email: {{ user.email }}</small></p>
              </div>
            </div>
          </div>
        </div>
        }@else{
        <p>Operatore non trovato.</p>
        }
      </div>
  <!-- ------section cards -->
   <div class="dashboard-box gap-2">
    
      <div class="card text-bg-success mb-3 col-12 col-md-5 col-lg-2 flex-grow-1" >
        <div class="card-header">Orders</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-bg-danger mb-3 col-12 col-md-5 col-lg-2 flex-grow-1" >
        <div class="card-header">Revenue</div>
        <div class="card-body">
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text"></p>
        </div>
      </div>
      <div class="card text-bg-warning mb-3 col-12 col-md-5 col-lg-2 flex-grow-1"  >
        <div class="card-header">Customers</div>
        <div class="card-body">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-bg-info mb-3 col-12 col-md-5 col-lg-2 flex-grow-1" >
        <div class="card-header">Comments</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
   
   </div>
  
  
    </div>
  </div>
</div>
