.dashboard-component {
  margin-top: 20px;
  height: 100%;
  .dashboard-box {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .dashboard-button {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; // Spazio uniforme tra i pulsanti
    align-items: stretch; // Assicura che i contenitori abbiano la stessa altezza

   

    .dashboard-button-vertical {
   
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-grow: 1 1 auto; // Permette alla seconda parte di espandersi e occupare spazio disponibile
      .dashboard-box{
        height: 100px
      }
    }
  }
}
